{
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "jsxSingleQuote": false,
    "printWidth": 120,
    "semi": true,
    "singleQuote": false,
    "quoteProps": "consistent",
    "trailingComma": "es5"
  }
  